{% extends "base.html" %}

{% block menu %}
  <form class="form-search navbar-search pull-right" action="/console/index/?o={{ owner.id }}" method="post">
        {% csrf_token %}
        <div class="input-append">
          <input tabindex="0" type="text" name="query" class="span2 search-query" placeholder="S&oslash;k her...…" value="{{ query }}"/>
          <button type="submit" class="btn"><i class="icon-search"></i></button>
       </div>
   </form>

{% endblock %}

{% block sidebar %}
<div class="alert alert-block alert-info">
SIDEBAR HERE...
</div>
       
    
    
{% endblock %}

{% block content %}
  <div>



   <div class="pager">
        <ul>
            Total hits: <strong>{{ results.count }}</strong>
            {% if results.powers.has_previous %}
                <li><a href="/console/?q={{ query }}&s={{ site.id }}&page={{ results.powers.previous_page_number }}">&larr; Prev</a></li>
            {% endif %}
            Page {{ results.powers.number }} of {{ results.powers.paginator.num_pages }}.
            {% if results.powers.has_next %}
                <li><a href="/console/?q={{ query }}&s={{ site.id }}&page={{ results.powers.next_page_number }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
 

  <div class="row-fluid">



  </div>
{% endblock %}
