{% extends "base.html" %}

{% block menu %}
  <form class="form-search navbar-search pull-right" action="/console/index/?o={{ owner.id }}" method="post">
        {% csrf_token %}
        <div class="input-append">
          <input tabindex="0" type="text" name="query" class="span2 search-query" placeholder="S&oslash;k her...…" value="{{ query }}"/>
          <button type="submit" class="btn"><i class="icon-search"></i></button>
       </div>
   </form>

{% endblock %}

{% block sidebar %}
<div class="pull-left span11">
{% include "register.html" %}
</div>
{% endblock %}

{% block content %}

   <div class="pager">
        <ul>
            Total hits: <strong>{{ results.count }}</strong>
            {% if results.powers.has_previous %}
                <li><a href="/console/?q={{ query }}&s={{ site.id }}&page={{ results.powers.previous_page_number }}">&larr; Prev</a></li>
            {% endif %}
            Page {{ results.powers.number }} of {{ results.powers.paginator.num_pages }}.
            {% if results.powers.has_next %}
                <li><a href="/console/?q={{ query }}&s={{ site.id }}&page={{ results.powers.next_page_number }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th class="span2">Dato</th>
      <th class="span2">Verdi</th>
      <th class="span8">Kommentar</th>
    </tr>
  </thead>
  <tbody>
      {% for item in results.powers %}
        <tr>
            <td nowrap="nowrap">{{ item.updated_at }}</td>
            <td nowrap="nowrap">{{ item.level }}</td>
            <td >{{ item.description }}</td>
        </tr>
       {% endfor %}
  </tbody>
</table>
{% endblock %}
